.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
  }
  
  .modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(134, 134, 134, 0); /* Slightly transparent to see the video */
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 50vw;
    height: 45vw;
  
    h1 {
      font-size: 11vw;
      margin: 0;
    }
  }
  
  .confettiVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 10px; /* Match the border radius of the modal */
  }
  
  .closeButton {
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    font-size: 2.2vw;
  }
  .groupbtn{
    display: flex;
    gap: 20px;
  }